.form-section {
  padding-top: 24px;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &__title {
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    padding-bottom: 0.5rem;
  }
  
  &__content {
    padding: 0 0.5rem;
  }
}
