.password-requirements {
  padding: 0;
  
  &__list {
    margin: 0;
    padding: 1.5rem 0 0 0;
    padding-left: 0 !important;
    list-style: none;
  }
  
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #666;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    svg {
      margin-right: 0.5rem;
      flex-shrink: 0;
    }
    
    &--valid {
      color: #0E840D;
      
      svg {
        color: #0E840D;
      }
    }
  }
}
